<h2 mat-dialog-title>Create a New Column</h2>
<mat-dialog-content>
  <form [formGroup]="taskListForm">
    <mat-form-field class="form-label" appearance="outline">
      <p>Title</p>
      <input matInput formControlName="name">
      @if (taskListForm.get('name')?.touched && taskListForm.invalid) {
        <mat-error>Title is required</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="createColumn()">Create</button>
</mat-dialog-actions>
