<mat-card class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="register-form-holder">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
      <div>
        <small>Please enter a valid email.</small>
      </div>
    }

    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
    @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
      <div>
        <small>Password is required.</small>
      </div>
    }

    <label>Role:</label>
    <mat-radio-group formControlName="role">
      <mat-radio-button value="ADMIN">Admin</mat-radio-button>
      <mat-radio-button value="USER">User</mat-radio-button>
    </mat-radio-group>
    @if(registerForm.get('role')?.invalid && registerForm.get('role')?.touched){
      <small>Please select a role.</small>
    }

  </div>
    <button mat-flat-button type="submit" [disabled]="registerForm.invalid">Register</button>

  </form>
</mat-card>
