.board-holder {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  height: auto;
  margin: 50px auto auto auto;
}

.board-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 215px;
  height: 100px;
  margin: 1em;
}

.board-name {
  padding-left: 0.5em;
  margin: 0;
  cursor: pointer;
}

.board-add-button {
  align-self: center;
  text-align: center;
}
