<div class="board-holder">
  @if (boards && boards.length) {
    @for (board of boards; track board.id) {
      <mat-card class="board-card">
        <h6 class="board-name" (click)="openBoard(board.id)">{{ board.name }}</h6>
        <button mat-icon-button aria-label="Remove Board" (click)="deleteBoard(board.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    }
    <button class="board-add-button" mat-icon-button (click)="openCreateBoardDialog()">
      <mat-icon style="margin: auto">add</mat-icon>
    </button>
  } @else {
    <mat-card style="padding: 2em; margin: auto">
      <h6>No boards, create one</h6>
      <button mat-flat-button (click)="openCreateBoardDialog()">Create a board</button>
    </mat-card>
  }
</div>
