<!-- @for(task of $tasks; track task.id) { -->

<mat-card class="card-body" appearance="outlined" style="margin: 15px;">
  <div class="flex-row">
    <p style="margin: auto 0 auto 0">{{ task.title }}</p>
    <button mat-icon-button (click)="deleteTask()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <p>{{ task.description }}</p>
  </mat-card-content>
</mat-card>

<!-- Task Status Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item>Open</button>
  <button mat-menu-item>In Progress</button>
  <button mat-menu-item>Done</button>
</mat-menu>

