<h2 mat-dialog-title>Create a New Task</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="outline" class="form-label">
      <p>Title</p>
      <input matInput formControlName="title">
      @if (taskForm.get('title')?.touched && taskForm.invalid) {
        <mat-error>Title is required</mat-error>
      }
        </mat-form-field>

    <mat-form-field appearance="outline" class="form-label">
      <p>Description</p>
      <textarea matInput formControlName="description"></textarea>
      @if (taskForm.get('description')?.touched && taskForm.invalid) {
        <mat-error>Description is required</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="createTask()">Create</button>
</mat-dialog-actions>
