<h2 mat-dialog-title>Create a New Board</h2>
<mat-dialog-content>
  <form [formGroup]="boardForm">
    <mat-form-field appearance="outline" class="form-label">
      <p>Title</p>
      <input formControlName="name" matInput>
      @if (boardForm.get('name')?.touched && boardForm.invalid) {
        <mat-error>Title is required</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="closeDialog()" mat-button>Cancel</button>
  <button (click)="createBoard()" color="primary" mat-button>Create</button>
</mat-dialog-actions>
