<h2 mat-dialog-title>Create a New Board</h2>
<mat-dialog-content>
  <form [formGroup]="boardForm">
    <mat-form-field class="form-label" appearance="outline">
      <p>Title</p>
      <input matInput formControlName="name">
      @if (boardForm.get('name')?.touched && boardForm.invalid) {
      <mat-error>Title is required</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="createBoard()">Create</button>
</mat-dialog-actions>
