/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #005CBB;
  background: linear-gradient(323deg, rgba(159, 0, 154, 1) 0%, rgba(109, 109, 233, 1) 35%, rgba(0, 212, 255, 1) 100%) no-repeat fixed;
}

span {
  font-size: 14px;
}

::-webkit-scrollbar {
  margin: 20px;
  padding: 20px;
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  margin: 20px;
  padding: 20px;
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.form-label {
  width: 100%;
  height: auto;
}

.login-button {
  float: right;
}
