.list-wrapper {
  display: -webkit-box;
  margin: 1em;
  gap: 1em;
  overflow-x: auto;
}

.list-wrapper-title {
  display: flex;
  justify-content: space-between;
}

.list-holder {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1em 1em 4em 1em;
  margin-bottom: 2em;
  border: 1px solid lightgray;
  border-radius: 1em;
  background-color: #f3f3f3;
  backdrop-filter: blur(100px);
  height: auto;
}

.list-empty {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  background-color: #f3f3f3;
  width: 300px;
  border-radius: 1em;
  padding: 1em;
}

.add-task-button {
  position: fixed;
  bottom: 1em;
  justify-self: center;
}
