<div cdkDropListGroup class="task-list-component">
  @if (columns && columns.length) {
    <div class="list-wrapper">


      <mat-list class="list-holder"
                *ngFor="let column of columns; let i = index"
                cdkDropList
                [cdkDropListData]="column.tasks"
                [id]="column.id.toString()"

                (cdkDropListDropped)="drop($event)">

        <div class="list-wrapper-title">
          <h6 class="task-list-title">{{ column.name }}</h6>
          <button mat-icon-button (click)="deleteColumn(column.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        @if (column.tasks && column.tasks.length) {
          @for (task of column.tasks; track task.id) {
            <app-task [task]="task"
                      [boardId]="boardId!"
                      [columnId]="column.id"
                      (taskDeleted)="fetchTasksForColumn(column.id)"
                      cdkDrag [attr.data-id]="task.id"></app-task>
          }
        } @else {
          <p>No tasks available</p>
        }
        <button class="add-task-button" mat-button (click)="openCreateTaskDialog(column.id)">Add Task</button>
      </mat-list>

      <button mat-icon-button (click)="openCreateColumnDialog()">
        <mat-icon style="color: white">add</mat-icon>
      </button>

    </div>

  } @else {
    <div class="list-wrapper">
      <mat-list class="list-holder">
        <div class="list-wrapper-title">
          <h6>No columns, add one</h6>
        </div>
      </mat-list>

      <button mat-icon-button (click)="openCreateColumnDialog()">
        <mat-icon style="color: white">add</mat-icon>
      </button>
    </div>
  }
</div>
