<!--<div class="list-wrapper">-->
<!--  <h4-->
<!--    style="font-weight: 500; margin: auto 0 auto 0; color: white;">{{ this.boardName }}</h4>-->
<!--  &lt;!&ndash;  <button mat-button (click)="openCreateTaskDialog()">&ndash;&gt;-->
<!--  &lt;!&ndash;    Add Task&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-icon>add</mat-icon>&ndash;&gt;-->
<!--  &lt;!&ndash;  </button>&ndash;&gt;-->
<!--</div>-->
<div cdkDropListGroup>
  @if (columns && columns.length) {
    <div class="list-wrapper">


      <mat-list class="list-holder"
                *ngFor="let column of columns; let i = index"
                cdkDropList
                [cdkDropListData]="column.tasks"
                [id]="column.id.toString()"

                (cdkDropListDropped)="drop($event)">

        <div class="list-wrapper-title">
          <h6>{{ column.name }}</h6>
          <button mat-icon-button (click)="deleteColumn(column.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        @if (column.tasks && column.tasks.length) {
          @for (task of column.tasks; track task.id) {
            <app-task [task]="task"
                      [boardId]="boardId!"
                      [columnId]="column.id"
                      (taskDeleted)="fetchTasksForColumn(column.id)"
                      cdkDrag [attr.data-id]="task.id"></app-task>
          }
        } @else {
          <p>No tasks available</p>
        }
        <button mat-flat-button (click)="openCreateTaskDialog(column.id)">Add Task</button>
      </mat-list>

      <button mat-icon-button (click)="openCreateColumnDialog()">
        <mat-icon style="color: white">add</mat-icon>
      </button>

    </div>

  } @else {
    <div class="list-empty">
      <h6>No columns, add one</h6>
      <button mat-icon-button (click)="openCreateColumnDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  }
</div>


<!--<div class="list-wrapper">-->
<!--  <mat-list class="list-holder">-->
<!--    <h6>Open:</h6>-->

<!--    @if (openTasks && openTasks.length) {-->
<!--      @for (task of openTasks; track task.id) {-->
<!--        <app-task [task]="task"-->
<!--                  (taskDeleted)="fetchTasks()"></app-task>-->
<!--      }-->
<!--    } @else {-->
<!--      <p>No open tasks available</p>-->
<!--    }-->
<!--  </mat-list>-->

<!--  <mat-list class="list-holder">-->
<!--    <h6>In Progress:</h6>-->

<!--    @if (inProgressTasks && inProgressTasks.length) {-->
<!--      @for (task of inProgressTasks; track task.id) {-->
<!--        <app-task [task]="task"-->
<!--                  (taskDeleted)="fetchTasks()"></app-task>-->
<!--      }-->
<!--    } @else {-->
<!--      <p>No in-progress tasks available</p>-->
<!--    }-->
<!--  </mat-list>-->

<!--  <mat-list class="list-holder">-->
<!--    <h6>Done:</h6>-->

<!--    @if (doneTasks && doneTasks.length) {-->
<!--      @for (task of doneTasks; track task.id) {-->
<!--        <app-task [task]="task"-->
<!--                  (taskDeleted)="fetchTasks()"></app-task>-->
<!--      }-->
<!--    } @else {-->
<!--      <p>No completed tasks available</p>-->
<!--    }-->
<!--  </mat-list>-->
<!--</div>-->
